{% if error is defined and error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>
{% endif %}

{% set icons = {'github': 'img/icons/github.png', 'google': 'img/icons/google.png'} %}

{% for owner in hwi_oauth_resource_owners() %}
    <a class="btn btn-default" href="{{ hwi_oauth_login_url(owner) }}" style="font-weight: bold">
        {% if icons[owner] is defined  %}
            <img src="{{ asset(icons[owner]) }}" alt="{{ owner|capitalize }}" style="height: 22px; margin: 0 2px 2px 0px;">
        {% endif %}
        Login with {{ owner|capitalize }}
    </a>
{% endfor %}
