<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - CodeKeepr</title>
		<link href="{{ asset('bundles/friggkeepr/css/bootstrap.css') }}" rel="stylesheet" media="screen">
		<link href="{{ asset('bundles/friggkeepr/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
		<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/friggkeepr/css/app.css') }}" rel="stylesheet" media="screen">
		{% block stylesheets %}{% endblock %}
    </head>
    <body>
    	{% set currentRoute = app.request.attributes.get('_route') %}
    	<div id="wrap">
			<div id="main" class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						<div class="nav-section">
							<h1 class="nav-logo">
								<a href="{{ path('home') }}">CodeKeepr</a>
							</h1>
						</div>
						<div class="sidebar-nav">
							{{ render(controller('FriggKeeprBundle:Tag:group', {'currentRoute': currentRoute})) }}
						</div>
					</div>
					<div class="span10">
						<div class="nav-section">
							<ul class="nav nav-pills">
								<li>
									<div class="input-append">
								  		<input style="width: 200px;" id="appendedInputButton" type="text">
								  		<button class="btn" type="button"><i class="icon-search"></i></button>
									</div>
								</li>
							</ul>
						</div>
						<div class="nav-section">
							{{ render(controller('FriggKeeprBundle:Post:navigation', {'currentRoute': currentRoute})) }}
						</div>
						<div class="row-fluid">
							{% block body %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<iframe src="http://ghbtns.com/github-btn.html?user=fredriktid&amp;repo=CodeKeepr&amp;type=fork&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
			<iframe src="http://ghbtns.com/github-btn.html?user=fredriktid&amp;repo=CodeKeepr&amp;type=follow&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="20"></iframe>
		</footer>
		<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
		<script src="{{ asset('bundles/friggkeepr/js/bootstrap.js') }}"></script>
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
		<script src="{{ asset('bundles/friggkeepr/js/app.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
