<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - CodeKeepr</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/doc.css') }}" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set currentRoute = app.request.attributes.get('_route') %}
        <div id="wrap">
            <div style="position: absolute; left: 50%;">
                <div style="position: relative; left: -50%;">
                    <h1><a href="{{ path('home') }}">CodeKeepr</a></h1>
                </div>
            </div>
            <div id="main" class="span12">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="row-fluid">
                            <div class="well">
                                <ul class="nav nav-list">
                                    {{ include('FriggKeeprBundle::navigation.html.twig', {'currentRoute': currentRoute })}}
                                </ul>
                            </div>
                        </div>
                        <div class="row-fluid bs-docs-sidebar">
                            {% block tag_group %}
                                {{ render(controller('FriggKeeprBundle:Tag:group')) }}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="span9">
                        <div class="row-fluid">
                            {{ include('FriggKeeprBundle::Search/form.html.twig') }}
                        </div>
                        <div class="content-wrap row-fluid">
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <!-- Main content -->
                            {% block body %}
                            {% endblock %}
                            <!-- /Main content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <iframe src="http://ghbtns.com/github-btn.html?user=fredriktid&amp;repo=CodeKeepr&amp;type=fork&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=fredriktid&amp;repo=CodeKeepr&amp;type=follow&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="20"></iframe>
        </footer>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.chosen').chosen({
                        disable_search_threshold: 5
                    });
                });
            </script>
        {% endblock %}
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
    </body>
</html>
