<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CodeKeepr{% endblock %}</title>
		<link href="{{ asset('bundles/friggkeepr/css/bootstrap.css') }}" rel="stylesheet" media="screen">
		<link href="{{ asset('bundles/friggkeepr/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
		<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/friggkeepr/css/app.css') }}" rel="stylesheet" media="screen">
		{% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="nav-section">
					<h1 class="nav-logo">
						<a href="{{ path('codekeepr_home') }}">CodeKeepr</a>
					</h1>
				</div>
				<div class="nav-section">
					<ul class="nav nav-pills">
						<li>
							<a href="#">+ Login</a>
						</li>
						<li>
							<a href="#">+ Register to post</a>
						</li>
					</ul>
				</div>
				<div class="nav-section pull-right">
					<ul class="nav nav-pills">
						<li>
							<div class="input-append">
						  		<input style="width: 200px;" id="appendedInputButton" type="text">
						  		<button class="btn" type="button">Go</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span2">
					<div class="sidebar-nav">
						{{ render(controller('FriggKeeprBundle:Tag:group')) }}
					</div>
				</div>
				<div class="span10">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
		<script src="{{ asset('bundles/friggkeepr/js/bootstrap.js') }}"></script>
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
