<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block base_title %}{% block title %}{% endblock title %} - {{ 'CodeKeepr'|trans }}{% endblock base_title %}</title>
        <meta name="description" content="{{ 'Share useful code and commands'|trans }}" />
        <link rel="apple-touch-icon" href="{{ asset('img/icon_large.png') }}" />
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        {% stylesheets
            '@FriggKeeprBundle/Resources/public/css/bootstrap/bootstrap.min.css'
            '@FriggKeeprBundle/Resources/public/css/chosen.min.css'
            '@FriggKeeprBundle/Resources/public/css/highlight.js.css'
            '@FriggKeeprBundle/Resources/public/css/app.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% set currentRoute = app.request.attributes.get('_route') %}
        {% if app.environment == 'prod' %}
            {% include 'FriggKeeprBundle:Layout:analytics.html.twig' %}
        {% endif %}
        <div id="topbar" class="col-md-12">
            {% include 'FriggKeeprBundle:Layout:topbar.html.twig' with {'crumb': block('title') } %}
        </div>

        <div id="content" class="col-sm-12 col-md-8 col-md-offset-2">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <script src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/lib/chosen.jquery.min.js') }}"></script>
        <script src="{{ asset('js/lib/highlight.pack.js') }}"></script>

        {% javascripts
            '@FriggKeeprBundle/Resources/public/js/post-new.js'
            '@FriggKeeprBundle/Resources/public/js/search.js'
            '@FriggKeeprBundle/Resources/public/js/tags.js'
            '@FriggKeeprBundle/Resources/public/js/app.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $('body').codekeepr().init().setMode('{% block mode %}main{% endblock %}').update();
                });
            </script>
        {% endblock %}
    </body>
</html>
