{% if group %}
    <ul class="nav nav-list">
    {% for tag in group %}
        <li class="nav-header btn">
            <a href="{{ path('tag_show', {'identifier': tag.identifier}) }}">{{ tag.name }} ({{ tag.post_count }})</a>
        </li>
    {% endfor %}
    </ul>
    <ul class="unstyled margin-top">
        <li class="align-center">
            <a href="{{ path('tag') }}" class="muted"><small>{{ 'View all tags'|trans }}</small></a>
        </li>
    </ul>
{% endif %}