{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block tag_group %}
    {{ render(controller('FriggKeeprBundle:Tag:group', {'currentIdentifier': entity.identifier})) }}
{% endblock %}

{% block body -%}
    {% if collection.getTotalItemCount %}
        <div class="accordion" id="accordion2">
            {% for item in collection %}
                {{ include('FriggKeeprBundle:Post:accordion.html.twig', {'post': item, 'view': 'line'}) }}
            {% endfor %}
            <div class="pull-right">
                {{ knp_pagination_render(collection) }}
            </div>
        </div>
    {% else %}
        <p class="muted">{{ 'No posts yet'|trans }}</p>
    {% endif %}
{% endblock %}
