{% if not is_granted('ROLE_USER') %}
    <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{% render(controller('FriggKeeprBundle:Layout:getToken')) %}" />
        <input type="hidden" id="remember_me" name="_remember_me" value="on">
        <div class="form-group">
            <label for="input-username">Email address</label>
            <input id="input-username" name="_username" type="text" class="form-control input-medium" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="input-password">Password</label>
            <input id="input-password" name="_password" type="password" class="form-control input-medium" placeholder="Password">
        </div>

        <button name="_submit" type="submit" class="btn btn-default">Login</button>
    </form>
    <p class="text-muted">Or <a href="{{ path('fos_user_registration_register') }}">{{ 'register quicky here.'|trans }}</a></p>
    <hr>
{% endif %}

{% if tags %}
    <ul id="sidebar-popular">
        {% for item in tags %}
            <li class="sidebar-item">
                <a href="{{ path('tag_posts', {'identifier': item.identifier}) }}">
                    {{ item.name }}
                    <span class="badge">
                        {{ item.post_count }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
{% endif %}

{% if users is defined %}
    <ul id="sidebar-users">
        {% for user in users %}
            <li class="sidebar-item">
                <a href="{{ path('user_posts', {'id': user.id}) }}">
                    {{ user.email|generate_username }}
                    <span class="badge">
                        {{ user.post_count }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
