<div class="row-fluid">
    {% if is_granted('ROLE_USER') %}
        <ul class="nav nav-list">
            <li{% if current_route in ['post_new', 'post_edit'] %} class="active"{% endif %}>
                <a href="{{ path('post_new') }}">
                    <i class="icon-plus"></i>
                    {{ 'Add post'|trans }}
                </a>
            </li>
            <li{% if current_route in ['post_user'] %} class="active"{% endif %}>
                <a href="{{ path('post_user', {'id': app.user.id}) }}">
                    <i class="icon-edit"></i>
                    {{ 'My posts'|trans }}
                </a>
            </li>
            <li{% if current_route in ['post_user_star'] %} class="active"{% endif %}>
                <a href="{{ path('post_user_star', {'id': app.user.id}) }}">
                    <i class="icon-star"></i>
                    {{ 'Starred'|trans }}
                </a>
            </li>
            <li class="divider"></li>
            <li class="margin-bottom">
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="icon-off"></i>
                    {{ 'Log out'|trans }}
                </a>
            </li>
        </ul>
    {% else %}
        <form class="form" action="{{ path("fos_user_security_check") }}" method="post" style="padding: 10px">
            <p class="muted">Login or <a href="{{ path('fos_user_registration_register') }}">{{ 'register here!'|trans }}</a></p>
            <input type="hidden" name="_csrf_token" value="{% render(controller('FriggKeeprBundle:Layout:getToken')) %}" />
            <input name="_username" type="text" class="input-medium" placeholder="Email"><br>
            <input name="_password" type="password" class="input-medium" placeholder="Password">
            <button name="_submit" type="submit" class="btn" style="margin-top: 5px">Login</button>
        </form>
    {% endif %}
</div>

{% if tags %}
    <div class="row-fluid bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav span12">
            {% for item in tags %}
                <li>
                    <i class="icon-chevron-right"></i>
                    <a href="{{ path('post_tag', {'identifier': item.identifier}) }}">
                        <span class="badge">{{ item.post_count }}</span> <strong>{{ item.name }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
