<h1 id="logo">
    <a href="{{ path('home') }}">{{ 'CodeKeepr'|trans }}</a>
</h1>

<div class="crumb hidden-sm hidden-xs">
    <i class="glyphicon glyphicon-chevron-right"></i>
    {{ crumb }}
</div>

<div class="menu">
    {% if is_granted('ROLE_USER') %}
        <div class="menu-item">
            <a href="{{ path('user_posts', {'id': app.user.id}) }}">
                <i class="glyphicon glyphicon-book"></i>
                <span class="menu-item-title">{{ 'My posts'|trans }}</span>
            </a>
        </div>

        <div class="menu-item">
            <a href="{{ path('user_starred_posts', {'id': app.user.id}) }}">
                <i class="glyphicon glyphicon-star"></i>
                <span class="menu-item-title">{{ 'Starred'|trans }}</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="{{ path('user_private_posts', {'id': app.user.id}) }}">
                <i class="glyphicon glyphicon-lock"></i>
                <span class="menu-item-title">{{ 'Private'|trans }}</span>
            </a>
        </div>
    {% endif %}

    <div class="menu-item">
        <a href="{{ path('fos_user_profile_show') }}">
            <i class="glyphicon glyphicon-user"></i>
            <span class="menu-item-title">{{ 'Your account'|trans }}</span>
        </a>
    </div>

    <div class="menu-item">
        <a href="{{ path('post_new') }}">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="menu-item-title">{{ 'Add post'|trans }}</span>
        </a>
    </div>
</div>
