<div class="accordion-author">
    <a href="{{ path('search_date', {'dateString': post.createdAt.format('Y-m-d')}) }}">
        {{ post.createdAt.format('Y-m-d') }}</a> {{ 'by'|trans }} <a href="{{ path('user_posts', {'id': post.user.id}) }}">{{ post.user.username }}
    </a>
</div>
<div class="accordion-metadata">

    {% set is_starred = (app.user and post|is_starred) %}
    <a href="{{ path('star_switch', {'id': post.id}) }}" title="{{ is_starred ? 'Unstar'|trans : 'Star'|trans }}" class="star">
        <i class="glyphicon {{ is_starred ? 'glyphicon-star' : 'glyphicon-star-empty' }}"></i>
    </a>

    {% if post.private %}
        <a href="{{ path('post_edit', {'id': post.id}) }}" title="Private" class="star">
            <i class="glyphicon glyphicon-lock star"></i>
        </a>
    {% endif %}

    {% if is_granted('POST_EDIT', post) %}
        <a href="{{ path('post_edit', {'id': post.id}) }}" title="{{ 'Edit'|trans }}" class="star">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
    {% endif %}

    {% if is_granted('POST_DELETE', post) and full_view %}
        <a href="{{ path('post_delete_confirm', {'id': post.id}) }}" title="{{ 'Delete'|trans }}" class="star">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    {% endif %}

    {% if not full_view %}
        <a class="star" href="{{ path('post_show', {'id': post.id, 'identifier': post.identifier}) }}" title="{{ 'Permanent link'|trans }}">
            <span class="">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </span>
        </a>
    {% endif %}

    {% if post.enableComments and comment_count %}
        <a class="star" href="{{ path('post_show', {'id': post.id, 'identifier': post.identifier}) }}" title="{{ 'Comments'|trans }}">
            <i class="glyphicon glyphicon-comment"></i>
            {{ comment_count }}
        </a>
    {% endif %}

    {% for tag in post.tags %}
        <a href="{{ path('tag_posts', {'identifier': tag.identifier}) }}">
            <span class="badge">
                {{ tag.name }}
            </span>
        </a>
    {% endfor %}
</div>
