{% set is_starred = (app.user and post|is_starred) %}
<a href="{{ path('star_switch', {'id': post.id}) }}" title="{{ is_starred ? 'Unstar'|trans : 'Star'|trans }}" class="star">
    <i class="glyphicon {{ is_starred ? 'glyphicon-star' : 'glyphicon-star-empty' }}"></i>
</a>

{% if post.private %}
    <a href="{{ path('post_edit', {'id': post.id}) }}" title="Status: Private" class="star">
        <i class="glyphicon glyphicon-lock star"></i>
    </a>
{% endif %}

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ post.identifier }}">
    {{ post.topic }}
</a>
