{% extends "FriggKeeprBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block mode %}login{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert fade in">
            {{ error|trans }}
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="well">
        <div style="padding: 10px">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div>
                <label for="username">{{ 'Email'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div>
                <label for="username">{{ 'Password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember me'|trans }}
                </label>
            </div>
            <div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" class="btn" />
            </div>
            <p class="margin-top">
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'Missing password? Reset here'|trans }}</a>
            </p>
        </div>
    </form>
{% endblock %}
