{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title -%}
	New code
{%- endblock title %}

{% block navbar_right %}
{% endblock %}

{% block body %}
	<div class="new-form row-fluid">
		{{ form_start(form) }}
			{{ form_errors(form) }}
			{#}
		    <h3>Tags</h3>
		    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
		        {% for tag in form.tags %}
		            <li>{{ form_row(tag.name) }}</li>
		        {% endfor %}
		    </ul>z
			{#}
			<div class="row-fluid">
		    	<div class="span3">
		    		{{ form_row(form.title) }}
		    	</div>
		    	<div class="span3">
		    		{{ form_row(form.language) }}
		    	</div>
		    	<div class="span1">
		    		{{ form_row(form.is_private) }}
		    	</div>
		    </div>
		    <div class="row-fluid">
		    	<div class="span12">
		    		{{ form_row(form.content) }}
		    	</div>
		    </div>
		{{ form_end(form) }}
	</div>
{% endblock body %}

{% block javascripts %}
	<!--
	<script type="text/javascript">

		function addTagFormDeleteLink($tagFormLi) {
		    var $removeFormA = $('<a href="#">delete this tag</a>');
		    $tagFormLi.append($removeFormA);

		    $removeFormA.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // remove the li for the tag form
		        $tagFormLi.remove();
		    });
		}

		function addTagForm(collectionHolder, $newLinkLi) {
		    // Get the data-prototype explained earlier
		    var prototype = collectionHolder.data('prototype');

		    // get the new index
		    var index = collectionHolder.data('index');

		    // Replace '$$name$$' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/\$\$name\$\$/g, index);

		    // increase the index with one for the next item
		    collectionHolder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $('<li></li>').append(newForm);
		    $newLinkLi.before($newFormLi);

		    // add a delete link to the new form
		    addTagFormDeleteLink($newFormLi);

		}


		// Get the ul that holds the collection of tags
		var collectionHolder = $('ul.tags');

		// setup an "add a tag" link
		var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
		var $newLinkLi = $('<li></li>').append($addTagLink);

		jQuery(document).ready(function() {

			collectionHolder.find('li').each(function() {
				addTagFormDeleteLink($(this));
			});

		    // add the "add a tag" anchor and li to the tags ul
		    collectionHolder.append($newLinkLi);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    collectionHolder.data('index', collectionHolder.find(':input').length);

		    $addTagLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new tag form (see next code block)
		        addTagForm(collectionHolder, $newLinkLi);
		    });
		});
	</script>-->
{% endblock %}