{% if post %}
    {%  set full_view = (view is defined and view == 'full') %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-content">
				<div class="pull-right">
					{% set post_tags = (full_view) ? post.tags : post.tags|slice(0, 5)  %}
					{% for tag in post_tags %}
						<a href="{{ path('post_tag', {'identifier': tag.identifier}) }}">
							<span class="label label-inverse tag-badge">{{ tag.name }}</span>
						</a>
					{% endfor %}
					{{ include('FriggKeeprBundle:Post:toolbar.html.twig') }}
				</div>
				{{ include('FriggKeeprBundle:Star:add.html.twig') }}
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ post.identifier }}">
					{{ post.topic }}
				</a>
			</div>
		</div>
		<div id="{{ post.identifier }}" class="accordion-body collapse{% if full_view %} in{% endif %}">
			<div class="accordion-inner">
				<pre><code class="{% if post.language.identifier %}{{ post.language.identifier }}{% else %}nohighlight{% endif %}">{{ post.content|trim }}</code></pre>
				<div class="pull-right">
					<span class="muted"><small><a href="{{ path('post_date', {'date': post.createdAt.format('Y-m-d')}) }}">{{ post.createdAt.format('Y-m-d') }}</a> {{ 'by'|trans }} <a href="{{ path('post_user', {'id': post.user.id}) }}">{{ post.user.username }}</a></small></span>
				</div>
				{{ include('FriggKeeprBundle:Post:toolbar.html.twig') }}
			</div>
		</div>
	</div>
{% endif %}
