{% if post %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-content">
				<div class="pull-right">
					{% for tag in post.tags %}
						<a href="{{ path('tag_show', {'identifier': tag.identifier}) }}">
							<span class="label label-info">{{ tag.name }}</span>
						</a>
					{% endfor %}
					{{ include('FriggKeeprBundle:Post:toolbar.html.twig') }}
				</div>
				{% if post.private %}
					<i class="icon-lock"></i>
				{% endif %}
				<a class="not" href="">
					<span class="label label-inverse">{{ post.language.name }}</span>
				</a>
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ post.identifier }}">
					{{ post.topic }}
				</a>
			</div>
		</div>
		<div id="{{ post.identifier }}" class="accordion-body collapse{% if view is defined and view == 'full' %} in{% endif %} ">
			<div class="accordion-inner">
				<pre class="prettyprint"><code class="language-{{ post.language.identifier }}">{{ post.content|trim }}</code></pre>
				<div class="pull-right">
					<span class="muted"><small><a href="{{ path('post_date', {'date': post.createdAt.format('Y-m-d')}) }}">{{ post.createdAt.format('Y-m-d') }}</a> {{ 'by'|trans }} <a href="{{ path('post_user', {'userId': post.user.id}) }}">{{ post.user.generateUsername }}</a></small></span>
				</div>
				{{ include('FriggKeeprBundle:Post:toolbar.html.twig') }}
			</div>
		</div>
	</div>
{% endif %}
