{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block mode %}{{ mode }}{% endblock %}

{% block body -%}
    {{ form_start(form, {'attr': {'id': 'post-new', 'class': 'form-horizontal'}}) }}
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="frigg_keeprbundle_post_topic">Title</label>
            <div class="col-sm-10">
                {{ form_widget(form.topic, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="frigg_keeprbundle_post_Language">Highlighting</label>
            <div class="col-sm-10">
                {{ form_widget(form.Language, {'attr': {'class': 'form-control', 'data-placeholder': 'Syntax highlighting'|trans}}) }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="options">Options</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.private) }} {{ 'Private'|trans }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.enable_comments) }} {{ 'Allow comments'|trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="code">Code</label>
            <div class="col-sm-10">
                {{ form_widget(form.content, {'attr': {'id': 'code', 'class': 'form-control code', 'placeholder': 'Paste your code here...'|trans}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="tags" data-prototype="{{ form_widget(form.Tags.vars.prototype.name)|e }}">
                    {% for tag in form.Tags %}
                        <li>
                            {{ form_widget(tag.name, {'attr': {'readonly': (not edit_tags), 'class': 'autocomplete', 'data-type': 'tag'}}) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(form.submit, {'label': title, 'attr': {'class': 'btn btn-primary btn-lg'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('form#post-new').codekeeprPostNew().setMode('{{ mode }}').init();
        });
    </script>
{% endblock %}
