{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block mode %}edit{% endblock %}

{% block body -%}
    {{ form_start(form, {'attr': {'id': 'post-new', 'class': 'form-horizontal'}}) }}
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="title">Title</label>
            <div class="col-sm-10">
                {{ form_widget(form.topic, {'attr': {'id': 'title', 'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="highlighting">Highlighting</label>
            <div class="col-sm-10">
                {{ form_widget(form.Language, {'attr': {'id': 'highlighting', 'class': 'form-control', 'data-placeholder': 'Syntax highlighting'|trans}}) }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="options">Options</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.private) }} {{ 'Private'|trans }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.enable_comments) }} {{ 'Allow comments'|trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="code">Code</label>
            <div class="col-sm-10">
                {{ form_widget(form.content, {'attr': {'id': 'code', 'class': 'form-control code', 'placeholder': 'And paste your code here'|trans}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="tags" data-prototype="{{ form_widget(form.Tags.vars.prototype.name)|e }}">
                    {% for tag in form.Tags %}
                        <li>{{ form_widget(tag.name, {'attr': {'readonly': edit_tag, 'class': 'autocomplete', 'data-type': 'tag'}}) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
{% endblock %}
