{% extends "FriggKeeprBundle::layout.html.twig" %}

{% block title %}Add code{% endblock %}

{% block body -%}
    <div class="row-fluid">
        <div class="span10">
            {{ form_start(form) }}
                {{ form_widget(form.topic, {'attr': {'class': 'span9', 'placeholder': 'Topic of submission...'}}) }}
                {{ form_widget(form.Language, {'attr': {'class': 'span3'}}) }}
                {{ form_widget(form.content, {'attr': {'class': 'span12', 'style': 'height: 400px'}}) }}
                <ul class="tags pull-left" data-prototype="{{ form_widget(form.Tags.vars.prototype.name)|e }}">
                    {% for tag in form.Tags %}
                        <li>{{ form_row(tag.name) }}</li>
                    {% endfor %}
                </ul>
                {{ form_widget(form.submit, {'attr': {'class': 'pull-right btn'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% if delete_form is defined and delete_form is not empty %}
        <div class="row-fluid">
            <div class="span10">
                <hr>
                {{ form_start(delete_form) }}
                    {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}, 'label': 'Delete this post'}) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/friggkeepr/js/post.js') }}"></script>
{% endblock %}

